{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Work Tracker</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
        <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <header class="mui-appbar mui--z1">
            <div class="mui-container">
                <table>
                    <tr class="mui--appbar-height">
                        <td>
                            <a id="pageTitle" href="{% url "work_tracker:time_entry_list" %}">Work Logger</a>
                        </td>
                        <td class="mui--text-right">
                            <ul class="mui-list--inline mui--text-boby2">
                                <li><a href="#">About</a></li>
                                {% if request.user.is_authenticated%}
                                <li><a href="/accounts/logout">Logout <strong>{{request.user.first_name.title}}</strong></a></li>
                                {% else %}
                                <li><a href="/accounts/login">Login</a></li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </header>
        <div id="content-wrapper">
            
            <div class="mui--appbar-height"></div>
            <div class="mui-container">
                <br><br>
                <div id="messages">
                    {% for message in messages %}
                    <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
                        {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                    </p>
                    {%endfor%}
                </div>
            </div>

            {%block content%}{% endblock %}
        </div>


        <footer>
            <div class="mui-container mui--text-center">
                Made by Ryan Doan
            </div>
        </footer>
        
    </body>
</html>