{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div><link href="{% static 'css/job.css' %}" rel="stylesheet" type="text/css"/></div>
    <section>
    <h1>
      {{job.name}}
    </h1>
    <details>
      <summary>Details</summary>
      <p>
        {{job.description}}
      </p>
    </details>
    <details>
      <summary>Hours</summary>
      <table>
        <thead>
          <tr>
            <th>Day</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Total Hours</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in user.employee.all %}
          <tr>
            <td>{{entry.day_label}}</td>
            <td>{{entry.date}}</td>
            <td>{{entry.start_time}}</td>
            <td>{{entry.end_time}}</td>
            <td>{{entry.get_total_hours}}</td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </details>
    <details>
      <summary>Location
      </summary>
      <p>google maps display: {{job.location.title}} </p>
    </details>
    <details>
      <summary>Expenses
      </summary>
      <p>Lorem ipsum dolor sit amet, eu alia suscipit mei. Reque iriure delectus vix id, ex sed forensibus suscipiantur. In eos exerci mollis apeirian, an qui latine alienum. Ad mea libris maluisset, consul assueverit sea ex. </p>
    </details>
    <section>

{% endblock %}