{% extends 'base.html' %}


{% block content %}

    <section>
    <h1>
      Big House
    </h1>
    <details>
      <summary>Details</summary>
      <p>
        100 sqft tear out and replace, 400 sqft sand plus stain.  remove shoe molding 
      </p>
    </details>
    <details>
      <summary>Hours</summary>
      <table>
        <thead>
          <tr>
            <th>Day</th>
            <th>Date</th>
            <th>Loc</th>
          </tr>
        </thead>
        <tbod>
          <tr>
            <td>Monday</td>
            <td>2021-01-04</td>
            <td>Woodview</td>
          </tr>
        </tbod>
      </table>
    </details>
    <details>
      <summary>Location
      </summary>
      <p>google maps display </p>
    </details>
    <details>
      <summary>Expenses
      </summary>
      <p>Lorem ipsum dolor sit amet, eu alia suscipit mei. Reque iriure delectus vix id, ex sed forensibus suscipiantur. In eos exerci mollis apeirian, an qui latine alienum. Ad mea libris maluisset, consul assueverit sea ex. </p>
    </details>
    <section>

{% endblock %}