{% extends 'base.html' %}


{% block content %}

    <section>
    <h1>
      Big House
    </h1>
    <details>
      <summary>Details</summary>
      <p>
        {{details.description}}
      </p>
    </details>
    <details>
      <summary>Hours</summary>
      <table>
        <thead>
          <tr>
            <th>Day</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Total Hours</th>
          </tr>
        </thead>
        <tbod>
          {% for i in times %}
          <tr>
            <td>{{i.day_label}}</td>
            <td>{{i.date}}</td>
            <td>{{i.start_time}}</td>
            <td>{{i.end_time}}</td>
            <td>{{i.get_total_hours}}</td>
          </tr>
          {% endfor%}
        </tbod>
      </table>
    </details>
    <details>
      <summary>Location
      </summary>
      <p>google maps display </p>
    </details>
    <details>
      <summary>Expenses
      </summary>
      <p>Lorem ipsum dolor sit amet, eu alia suscipit mei. Reque iriure delectus vix id, ex sed forensibus suscipiantur. In eos exerci mollis apeirian, an qui latine alienum. Ad mea libris maluisset, consul assueverit sea ex. </p>
    </details>
    <section>

{% endblock %}